.image {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  background-color: aqua;
  cursor: pointer;
}
.org-img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  cursor: pointer;
}
